body {
    margin-top: 100px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.card {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
 
}

.card-content {
    text-align: center;
    
}

.break-line {
    display: block;
}

img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}
